*{
  box-sizing: border-box;
}

body{
  background-image: url(lava.jpg);
  width: 100%;
  position: absolute;
  top:0;
  left:0;
}

h1{
  color: black;
  display: inline-block;
  font-size: 2.0em;
  width: 100%;
}

h2{
  font-size: 1.5em;
  text-align: center;
  padding:0;
}

.subtext {
  color: rgb(255,140,0);
  display: inline-block;
  font-size: .9em;
  text-shadow: 1px 1px rgb(0,0,0);
}

.welcome{
  text-align: center;
  border: black solid 2px;
  padding: 1%;
  margin: 2% 25%;
  width: 50%;
  border-radius: 5px;
  background-color: rgb(255,255,255);
}

#results{
  display: inline-block;
  text-align: left;
  border: black solid 2px;
  padding: 3%;
  width:60%;
  float:left;
  margin: 0% 7% 2% 7%;  
  border-radius: 5px;
  word-wrap: auto;
  background-color: rgb(255,255,255);
}

i{
  padding-right: 2px;
}

li{
  word-wrap: break-word;
}

form{
  margin: auto;
  width: 40%;
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  border: black solid 2px;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.container {
  height: 50%;
  margin-top:30px;
}

#travelCityWeather{
  display: inline-block;
  text-align: center;
  border: black solid 2px;
  padding: 1%;
  margin: 0% 3% 1% 5%; 
  width:12%;
  float:left;
  border-radius: 5px;
  font-size:.8em;
  background-color: rgb(255,255,255);
}

img{
  width: 40%;
  height:40%;
  border-radius: 5px;
}

#currentLocationWeather{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  border: black solid 2px;
  padding: 1%;
  margin: 5% 2% 2% 2%;
  width:14%;
  float: right;
  border-radius: 5px;
  font-size:.8em;
  word-wrap: normal;
  background-color: rgb(255,255,255);
}

  ul{
  	list-style-type: circle;
  }

#startAPIrequests{
  margin: auto auto; 
  width:100px;
  display: block;
}

a:hover {
  background-color: rgb(211,211,211);
  text-decoration: none;
}
a{
  color: rgb(220,20,60);
  text-decoration: none;
}
label{
  display: block;
  margin: 3px;
  font-size: 1.1em;
}

input{
  margin: 3px;
  font-size: 1.1em;

}


@media only screen and (max-width: 640px){
  #travelCityWeather{
    position: absolute;
    top: 0;
    right: 2%;
    width: 19%;
    padding: 1%;
    word-wrap: normal;
    margin: 5% 3% 2% 2%;
  }

  h2{
    font-size: .65em;
  }
  h1{
    font-size: 1em;
  }
  .subtext{
    font-size: .5em;
  }
  #currentLocationWeather{
  width: 19%;
  }

  form{
    width: 60%;
  }

  input{
  height: 30px;
  width: 70%;
  margin-bottom: 10px;
  }
  .welcome{
    width: 40%;
  }
  .submitbtn{
    display: block;
    margin: auto;
  }

  li{
    word-wrap: break-word;
  }


  
  #results{
  border: black solid 2px;
  padding: 2%;
  width:80%;
  margin-left: 7%;
  margin-right: 5%;
  }
  
}