#currentLocationWeather, #travelCityWeather{
  display: inline-block;
  text-align: center;
  border: black solid 2px;
  border-radius: 5px;
  word-wrap: normal;
  background-color: rgb(255,255,255);
  margin: 10px 5px;
  filter: alpha(opacity=50);
  opacity: 0.9;
}

img{
  width: 40%;
  height:40%;
  border-radius: 5px;
}

.welcome{
  text-align: center;
  filter: alpha(opacity=50);
  opacity: 0.9;
  border: black solid 2px;
  border-radius: 5px;
  background-color: rgb(255,255,255);
}

.submitbtn{
    display: block;
    margin: 5px auto;
  }

h2{
  font-size: 1em;
  text-align: center;
}
h1{
  font-size: 1.4em;
}

body{
  background-image: url('Images/gadabout-background.png');
  background-repeat: no-repeat;
  background-position: center;
}

.subtext {
  color: rgb(173,216,230);
  display: block;
  font-size: 1em;
  text-shadow: 1px 1px rgb(0,0,0);
}

form{
  text-align: center;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  border: black solid 2px;
  padding: 10px; 
  filter: alpha(opacity=50);
  opacity: 0.9;
  font-size:1.3em;
}

.hidden {
  display: none !important;
}
ul{
  list-style-type: circle;
  padding-right: 5px;
}

#results{
  border: black solid 2px;
  padding: 3%;
  background-color: rgb(255,255,255);
  border-radius: 5px;
  filter: alpha(opacity=50);
  opacity: 0.9;
}

label{
  display: block;
}

input{
  margin: 5px 5px;
  width: 100px;
}

 a:hover {
  background-color: rgb(240,248,255);
  text-decoration: none;
}
a{
  color: rgb(0,0,128);
  text-decoration: none;
} 

@media only screen and (max-width: 980px){
  ul{
    list-style-type:none;
  }
  input{
    width: 100px;
  }
  form{
    font-size: 1.1em;
  }
  h1{
    font-size: 1.5em;
  }
}