*{
  box-sizing: border-box;
}

h1{
  color: #008080;
  display: inline-block;
  font-size: 1.4em;
  width: 100%;
}

h2{
  font-size: 1em;
  text-align: center;
  padding:0;
}

.subtext {
  color: #7FFF00;
  display: inline-block;
  font-size: .5em;
}

.welcome{
  text-align: center;
  border: black solid 2px;
  padding: 1%;
  margin: 2% 25%;
  width: 50%;
  border-radius: 5px;
}

#results{
  display: inline-block;
  text-align: left;
  border: black solid 2px;
  padding: 2%;
  width:70%;
  float:left;
  margin: 0% 5% 2% 5%;  
  border-radius: 5px;
  word-wrap: auto;
}

li{
  list-style: none;
}

form{
  margin: auto;
  margin: 2% 2%;
  width: 100%;
  text-align: center;
  font-size:.9em;
}

.hidden {
  display: none !important;
}

.container {
  height: 50%;
  margin-top:30px;
}

#travelCityWeather{
  display: inline-block;
  text-align: center;
  border: black solid 2px;
  padding: 1%;
  margin: 0% 3% 1% 5%; 
  width:12%;
  float:left;
  border-radius: 5px;
  font-size:.8em;
}

img{
  width: 40%;
  height:40%;
  border-radius: 5px;
}

#currentLocationWeather{
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  text-align: center;
  border: black solid 2px;
  padding: 1%;
  margin: 5% 2% 2% 2%;
  width:14%;
  float: right;
  border-radius: 5px;
  font-size:.8em;
  overflow-wrap: break-word;
}


#startAPIrequests{
  margin: auto auto; 
  width:100px;
  display: block;
}

label{
  display: block;
  margin: 3px;
}

input{
  margin: 3px;
}

/*
at results greater than x results = 90% width
moved travel city to top right
overflow text
push elements down?
*/

@media only screen and (max-width: 640px){
  #travelCityWeather{
    position: absolute;
    top: 0;
    right: 0%;
    width: 13%;
    padding: 1%;
    word-wrap: break-word;
    margin: 5% 2% 2% 2%;
  }
  
  input{
  height: 30px;
  margin-bottom: 10px;
  }
  .submitbtn{
    display: block;
    margin: auto;
  }
  
  #results{
  border: black solid 2px;
  padding: 2%;
  width:80%;
  margin-left: 7%;
  margin-right: 5%;
  }
  
}